<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--130 bg__white">
  <div class="container">
    <div class="htc__product__container">
      <!-- Start Product MEnu -->
      <div class="row">
        <div class="col-md-12">
          <div class="filter__menu__container">
            <div class="product__menu">
              <button data-filter="*" class="is-checked">All</button>
              <button data-filter=".cat--1">Watches</button>
              <button data-filter=".cat--2">Bags</button>
              <button data-filter=".cat--3">Kids</button>
            </div>
            <div class="filter__box">
              <a class="filter__menu" href="#">filter</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product MEnu -->
      <div class="row">
        <div class="product__list another-product-style">
          <!-- Start Single Product (cat 1) -->
          <div *ngFor="let item of watches; let i=index"
            class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
            <div class="product foo">
              <div class="product__inner">
                <div class="pro__thumb">
                  <a href="#">
                    <img src="{{item.imageUrl}}" style="width: 264px; height: 264px; object-fit: scale-down"
                      alt="product images">
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li><a data-toggle="modal" data-target="#productModal" title="Quick View"
                        class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                    <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="product__details">
                <h2><a href="product-details.html">{{item.name}}</a></h2>
                <ul class="product__price">
                  <li class="old__price">{{item.price + 25}} $</li>
                  <li class="new__price">{{item.price}} $</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Single Product (cat 1) -->
          <!-- Start Single Product (cat 2) -->
          <div *ngFor="let item of bags; let i=index" class="col-md-3 single__pro col-lg-3 cat--2 col-sm-4 col-xs-12">
            <div class="product foo">
              <div class="product__inner">
                <div class="pro__thumb">
                  <a href="#">
                    <img src="{{item.imageUrl}}" style="width: 264px; height: 264px; object-fit: scale-down"
                      alt="product images">
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li><a data-toggle="modal" data-target="#productModal" title="Quick View"
                        class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                    <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="product__details">
                <h2><a href="product-details.html">{{item.name}}</a></h2>
                <ul class="product__price">
                  <li class="old__price">{{item.price + 25}} $</li>
                  <li class="new__price">{{item.price}} $</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Single Product (cat 2) -->
          <!-- Start Single Product (cat 3) -->
          <div *ngFor="let item of kids; let i=index" class="col-md-3 single__pro col-lg-3 cat--3 col-sm-4 col-xs-12">
            <div class="product foo">
              <div class="product__inner">
                <div class="pro__thumb">
                  <a href="#">
                    <img src="{{item.imageUrl}}" style="width: 264px; height: 264px; object-fit: scale-down"
                      alt="product images">
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li><a data-toggle="modal" data-target="#productModal" title="Quick View"
                        class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                    <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="product__details">
                <h2><a href="product-details.html">{{item.name}}</a></h2>
                <ul class="product__price">
                  <li class="old__price">{{item.price + 25}} $</li>
                  <li class="new__price">{{item.price}} $</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Single Product (cat 3) -->
        </div>
      </div>
      <!-- Start Load More BTn -->
      <div class="row mt--60">
        <div class="col-md-12">
          <div class="htc__loadmore__btn">
            <a href="#">load more</a>
          </div>
        </div>
      </div>
      <!-- End Load More BTn -->
    </div>
  </div>
</section>
<!-- End Our Product Area -->
